### In-Lab Task1

In [72]:
# =============================================================================
# Data Typs - Dictionaries
# =============================================================================
phonebook = {}
phonebook["John"] = {"Phone": "012 794 794",
"Email": "john@email.com"}
phonebook["Jill"] = {"Phone": "012 345 345",
"Email": "jill@email.com"}
phonebook["Joss"] = {"Phone": "012 321 321",
"Email": "joss@email.com"}
print(phonebook)
# =============================================================================

{'John': {'Phone': '012 794 794', 'Email': 'john@email.com'}, 'Jill': {'Phone': '012 345 345', 'Email': 'jill@email.com'}, 'Joss': {'Phone': '012 321 321', 'Email': 'joss@email.com'}}

In [60]:
# dict is access by its key 
phonebook["John"]

{'Phone': '012 794 794', 'Email': 'john@email.com'}

### In-Lab Task2

In [61]:
# Using for loop to extract data from Dictionaries
for name, record in phonebook.items():
    print("{}'s phone number is {}, and email is {}".format(name,
    record["Phone"], record["Email"]))

John's phone number is 012 794 794, and email is john@email.com
Jill's phone number is 012 345 345, and email is jill@email.com
Joss's phone number is 012 321 321, and email is joss@email.com

### In-Lab Task3

In [73]:
# First `del`
del phonebook["John"]
for name, record in phonebook.items():
    print("{}'s phone number is {}, \
and their email is {}".format(name, record["Phone"], record["Email"]))

Jill's phone number is 012 345 345, and their email is jill@email.com
Joss's phone number is 012 321 321, and their email is joss@email.com

In [74]:

# Pop returns the record, and deletes it
jill_record = phonebook.pop("Jill")
print(jill_record)
for name, record in phonebook.items():
    # You can see that only Joss is still left in the system
    print("{}'s phone number is {}, \
        and their email is {}".format(name, record["Phone"], record["Email"]))

{'Phone': '012 345 345', 'Email': 'jill@email.com'}
Joss's phone number is 012 321 321,         and their email is joss@email.com

### In-Lab Task4

In [38]:
# Arithmatic Operators
number = 1 +2 * 3 / 4.0
# Try to predict what the answer will be .. does Python follow order 
# operations hierarchy?
print(number)
# The modulo (%) returns the integer remainder of a division
remainder = 11 % 3
print(remainder)
# Two multiplications is equivalent to a power operation
squared = 7 ** 2
print(squared)
cubed = 2 ** 3
print(cubed)

2.5
2
49
8

In [34]:
whos

Variable      Type     Data/Info
--------------------------------
cubed         int      8
jill_record   dict     n=2
name          str      Joss
number        float    2.5
phonebook     dict     n=1
record        dict     n=2
remainder     int      2
squared       int      49

In [28]:
help (print)

Help on built-in function print in module builtins:

print(*args, sep=' ', end='\n', file=None, flush=False)
    Prints the values to a stream, or to sys.stdout by default.

    sep
      string inserted between values, default a space.
    end
      string appended after the last value, default a newline.
    file
      a file-like object (stream); defaults to the current sys.stdout.
    flush
      whether to forcibly flush the stream.

### list opoeration

In [50]:
# List Operators

even_numbers = [2, 4, 6, 8]
# One of my first teachers in school said, "People are odd. Numbers are uneven."
# He also said, "Cecil John Rhodes always ate piles of
# unshelled peanuts in parliament in Cape Town."
# "You'd know he'd been in parliament by the huge pile of
# shells on the floor. He also never wore socks."
# "You'll never forget this." And I didn't. I have no idea if
# it's true.
uneven_numbers = [1, 3, 5, 7]
all_numbers = uneven_numbers + even_numbers
# What do you think will happen?
print(all_numbers)
# You can also repeat sequences of lists
print([1, 2, 3] * 3)

[1, 3, 5, 7, 2, 4, 6, 8]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [65]:
# Create a project of this

x = object()  # A generic Python object
y = object()
# Change this code to ensure that x_list and y_list each have
# 10 repeating objects
# and concat_list is the concatenation of x_list and y_list
x_list = [x]
y_list = [y]
concat_list = []

print("x_list contains {} objects".format(len(x_list)))
print("y_list contains {} objects".format(len(y_list)))
print("big_list contains {} objects".format(len(concat_list)))

# Test your lists
if x_list.count(x) == 10 and y_list.count(y) == 10:
    print("Almost there...")
if concat_list.count(x) == 10 and concat_list.count(y) == 10:
    print("Great!")

x_list contains 1 objects
y_list contains 1 objects
big_list contains 0 objects

### In-Lab Task5

In [66]:
a = "Hello World"
a

'Hello World'

### In-Lab Task6

In [67]:
x = 2 
print (x == 2)
print (x == 3)
print (x < 3)

nmae = "jhon"
print (name == "Jhon" and x ==2)
print (name == "Jhon" or name =="Jill")
print (name in ["Jhon","Jill","Jess"])

True
False
True
False
False
False

In [68]:
x = 2 
if  x > 2 :
    print ("testing x")
    print ("x > 2")
if x == 2 :
    print ("x == 2" )

x == 2

In [76]:
# Demonstrating more complex if tests
x = 2
y = 10
if x > 2:
    print("x > 2")
elif x == 2 and y > 50:
    print("x == 2 and y > 50")
elif x < 10 or y > 50:
    # But, remember, you don't know WHICH condition was True
    print("x < 10 or y > 50")
else:
    print("Nothing worked.")

x < 10 or y > 50

In [77]:

# Using `not`
name_list1 = ["John", "Jill"]
name_list2 = ["John", "Jill"]
print(not (name_list1 == name_list2))
# Using `is`
name2 = "John"
print(name_list1 == name_list2)
print(name_list1 is name_list2)

# Using `not`
name_list1 = ["John", "Jill"]
name_list2 = ["John", "Jill"]
print(not (name_list1 == name_list2))
# Using `is`
name2 = "John"
print(name_list1 == name_list2)
print(name_list1 is name_list2)

False
True
False
False
True
False

## while

In [80]:
# While Loop

# 1. for Numeric Data
# Using a while loop to print numbers from 1 to 5
count = 1
while count <= 5:
    print(count)
    count += 1

# 2. For Strings
# Using a while loop to print each character of a string
text = "Hello"
index = 0
while index < len(text):
    print(text[index], end = "")
    index += 1

1
2
3
4
5
Hello

In [81]:

# 3. For Dictionaries
# Using a while loop to iterate through a dictionary and print key-value pairs
student_grades = {"Alice": 92, "Bob": 85, "Charlie": 78}
keys = list(student_grades.keys())  # Get the keys as a list
index = 0
while index < len(keys):
    key = keys[index]
    value = student_grades[key]
    print(f"{key}: {value}")
    index += 1

Alice: 92
Bob: 85
Charlie: 78

## for

In [83]:
# ==============================================================================
# Loops
# ==============================================================================
# For Loop for reading Writing Data
# Sample list of numeric data
numeric_data = [10, 20, 30, 40, 50]

# Using a for loop to read and process each element
for number in numeric_data:
    result = number * 2 # Perform some operation (e.g., multiplication)
    print(result) # Print the result

20
40
60
80
100

In [89]:

# Sample string
text = "Hello, World!"

# Using a for loop to read and print each character in the string
for char in text:
    print(char ,end = "")

Hello, World!

In [90]:

# Using a for loop to write characters to a new string with some modifications
new_text = ""
for char in text:
    if char.isalpha():
        new_text += char.upper() # Convert letters to uppercase
    else:
        new_text += char # Keep non-letter characters as they are

print(new_text)

HELLO, WORLD!

In [86]:

# Writing Numeric Data
# Initialize an empty list to store numeric data
numeric_data = []

# Use a for loop to add numbers from 1 to 10 into the list
for i in range(1, 11): # This loop iterates from 1 to 10 (inclusive)
    numeric_data.append(i) # Add each number to the list

# Print the resulting list
print(numeric_data)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]